#!/usr/bin/make -f

# Sanitize build environment when running inside Scratchbox 1
ifneq (,$(wildcard /targets))
   ifeq (,$(SBOX_DONT_SANITIZE))
     export SBOX_REDIRECT_TO_DIRS=
     export PATH=/scratchbox/compilers/bin:/bin:/usr/bin:/scratchbox/tools/bin
     rc:=$(shell debian/fixup-scratchbox >&2)
     ifneq (,$(FAKEROOTKEY))
       ifneq (/usr/lib/libfakeroot/libfakeroot-sysv.so,$(LD_PRELOAD))
         export FAKEROOTKEY=$(shell /usr/bin/faked-sysv | cut -d: -f1)
         export LD_PRELOAD=/usr/lib/libfakeroot/libfakeroot-sysv.so
       endif
     endif
  endif
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_CONFIGURE_EXTRA_FLAGS += --disable-unittest
